<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cold.wallet">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <application>
        <activity android:name="com.wallet.activity.MainColdActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.wallet.activity.wallet.ColdWalletVerifyActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.wallet.activity.wallet.ColdWalletBackupActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.wallet.activity.wallet.CodeWalletMakeActivity"
            android:screenOrientation="portrait"/>

        <activity android:name="com.wallet.activity.cold.AddAddressActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.wallet.activity.cold.AddressActivity"
            android:screenOrientation="portrait"/>
    </application>


</manifest>